<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form th:action="@{/users/register}" method="post" th:object="${user}">
    <label for="username">Login:
        <input id="username" type="text" name="login" th:value="*{login}">
    </label><br>
    <label for="password">Password:
        <input id="password" type="text" name="password" th:value="*{password}">
    </label><br>
    <div th:each="role : ${roles}">
        <input th:id="${role}" type="radio" name="role" th:value="${role}">
        <label th:for="${role}" th:text="${role}">Role name</label>
    </div>
    <label for="firstname">Name:
        <input id="firstname" type="text" name="userInfo.name" th:value="*{userInfo.name}">
    </label><br>
    <label for="weight">Weight:
        <input id="weight" type="number" name="userInfo.weight" th:value="*{userInfo.weight}">
    </label><br>
    <div th:each="category : ${categories}">
        <input th:id="${category}" type="radio" name="userInfo.category" th:value="${category}">
        <label th:for="${category}" th:text="${category}">Sport category</label>
    </div>
    <label for="dateBirth">Date Birth:
        <input id="dateBirth" type="date" name="userInfo.dateBirth" th:value="*{userInfo.dateBirth}">
    </label><br>
    <button type="submit">Register</button>
</form>

</body>
</html>
